
<div class="card-header mx-5 mb-2">
    <h3 class="card-title d-flex align-items-center ">
        <span class="status rounded-1 me-1">
            <i class="ti ti-device-laptop"></i>
            {{ __('Model', 'datainjection') }} - {{ model_name }}
        </span>
        </h3>
</div>
<div class="card p-3 my-5">
    <div class="hr-text mt-5 mb-5">
        <i class="fa-2x ti ti-chart-bar"></i>
        <span>{{ __('Import progress', 'datainjection') }}</span>
    </div>
    <div class="progress" role="progressbar" aria-label={{ __('Injection of the file', 'datainjection') }} aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height: 20px;">
        <div class="progress-bar progress-bar-striped bg-info" style="width: 0%; height: 20px;">
            {{ __('Injection of the file', 'datainjection') }}
        </div>
    </div>