{#
 # -------------------------------------------------------------------------
 # DataInjection plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of DataInjection.
 #
 # DataInjection is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 2 of the License, or
 # (at your option) any later version.
 #
 # DataInjection is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with DataInjection. If not, see <http://www.gnu.org/licenses/>.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2007-2023 by DataInjection plugin team.
 # @license   GPLv2 https://www.gnu.org/licenses/gpl-2.0.html
 # @link      https://github.com/pluginsGLPI/datainjection
 # -------------------------------------------------------------------------
 #}

  <form method="post" action={{ from_url }}>
    <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
    <div class="hr-text mt-5 mb-5">
        <i class="fa-2x ti ti-chart-bar"></i>
        <span>{{ __("Injection's results", 'datainjection') }}</span>
    </div>
    <div class="center">
      {% if ok %}
        <i class="ti ti-check" style="color: #28a745;"></i>
        {{ __('Injection successful', 'datainjection') }}
      {% else %}
        <i class="ti ti-x" style="color: #dc3545;"></i>
        {{ __('Injection encounters errors', 'datainjection') }}
      {% endif %}
    </div>

    <div class="center mt-2">
      <div class="d-flex justify-content-center gap-3">
        <a href="#" onclick="var w = window.open('{{ popup_url }}', 'glpipopup', 'height=400, width=1000, top=100, left=100, scrollbars=yes');w.focus();" title="{{ __('See the log', 'datainjection') }}">
          <h2><i class="fa-2x ti ti-file-search"></i></h2>
        </a>

        {% if has_pdf %}
          <a href="#" onclick="location.href='export.pdf.php?models_id={{ model_id }}'" title="{{ __('Export rapport in PDF', 'datainjection') }}">
            <h2><i class="fa-2x ti ti-file-type-pdf"></i></h2>
          </a>
        {% endif %}

        {% if has_errors %}
          <a href="#" onclick="location.href='export.csv.php'" title="{{ __('Export the log', 'datainjection') }}">
            <h2><i class="fa-2x ti ti-file-type-csv" style="color: #dc3545;"></i></h2>
          </a>
        {% endif %}
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <input class="btn btn-primary" type="submit" name="finish" value="{{ __('Finish', 'datainjection') }}">
    </div>
  </div>
</form>